* {
  margin: 0;

}

*:focus {
  outline: none;
}

.App{
  background-color: #fafafa;
  width: 100%;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  padding: 20px;
  margin-bottom: 45px;

  display: flex;
  justify-content: space-between;

}

.app__headerElements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
 
}

.app__headerImage {
  object-fit: contain;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__signup {
    display: flex;
    flex-direction: column;
    
}

.app__loginMessage {
  width: 100%;
  cursor: pointer;
  background-color: rgba(var(--d69,0,149,246),1);
  position: sticky;
  bottom: 0;
  text-align: center;
  padding: 20px;
  color: white;
}